<%= div_for feel do %>
  <%= image_tag(feel.image_url) %>
  <div class='description'>
    description:
    <%= feel.description %>
  </div>
  <div class='tags'>
    Tags:
    <% feel.tag_list.each do |tag|%>
      <%= tag %>
    <% end %>
    <p><%= " hace: #{time_ago_in_words(feel.created_at)}" %></p>
    <p>
      by
      <%= link_to feel.user.name, user_path(feel.user.id) %>

    </p>


  </div>
<% end %>