<%= form_for(@feel, :html => { :method => :post, :multipart => true },
             url:feels_path(@feel)) do |d| %>

  <%= d.text_area :description, { :placeholder => "Que tal feliz te sientes"} %>
  <%= d.text_field :tag_list, { :placeholder => "Separar por comas" } %>
  <%= d.hidden_field :image_url %>
  <%= d.submit("Save") %>
<% end %>

<%= form_for(@picture, :html => { :method => :post, :multipart => true },
             remote: true, :url => pictures_path) do |d| %>
    <%= d.file_field :picture, :id => "picture" %>
<% end %>

<div id='list_feels'>
  <p>Sentimientos</p>
  <%= render @feels %>
</div>
